body{
    color:rgb(202, 226, 43);
    background: rgb(65, 11, 65);
    margin: 0px;
    font-family: "Changa", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom:solid 5px  rgb(43, 61, 226);
    padding: 20px;
    font-size: 40px;
    color:rgb(43, 61, 226);
}

.chamada{
    background:rgba(43, 205, 226, 0.156);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}
img{
    height:300px;
}

.categoria-vídeos{
    display: flex;
    overflow-x: auto;
    gap:15px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-vídeos img{
    opacity: 0.5;
    height:200px;
}

.categoria-vídeos img:hover{
    opacity: 1.0;
    border:1px solid green;
}
.categoria h2 {
    color: rgb(43, 61, 226);
  
}